{% extends "base.html" %}

{% block title %}Roles{% endblock title %}

{% block content %}
{% if session['user_is_admin'] %}
	<table class="table">
        <thead>
           <tr>
               <th>Role ID</th>
               <th>Role Name</th>
           </tr>
        </thead>
        <tbody>
        {% if roles %}
            {% for role in roles %}
                <tr>
                    <td>{{ role.role_id }}</td>
                    <td>{{ role.role_name }}</td>
                </tr>
            {% endfor %}
        {% else %}
            NONE
        {% endif %}
        </tbody>
	</table>
    <p><a href="{{ url_for('wiki.role_create_page') }}" class="btn btn-success">Create a Role</a></p>
{% endif %}
{% endblock content %}