{% extends "base.html" %}

{% block title %}Roles{% endblock title %}

{% block content %}
{% if current_user.is_admin %}
	<table class="table">
        <thead>
           <tr>
               <th>Role ID</th>
               <th>Role Name</th>
           </tr>
        </thead>
        <tbody>
        {% if roles %}
            {% for role in roles %}
                <tr>
                    <td>{{ role.role_id }}</td>
                    <td>{{ role.role_name }}</td>
                    <!--<td><p><a href="{{ url_for('wiki.role_unassign', user_id=user.user_id, role_name=role.role_name) }}" class="btn btn-danger">Delete</a></p></td>-->
                </tr>
            {% endfor %}
        {% else %}
            NONE
        {% endif %}
        </tbody>
	</table>
{% endif %}
{% endblock content %}