{% extends "base.html" %}

{% block title %}{{ user.user_name }}{% endblock title %}

{% block content %}
{% if user %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.user_name }}</td>
            </tr>
		</tbody>
	</table>
    <p>
        <a href="{{ url_for('wiki.user_index') }}" class="btn btn-primary">See all Users</a>
        <a href="{{ url_for('wiki.user_delete', user_id=user.user_id) }}" class="btn btn-danger">Delete</a>
    </p>
   {% else %}
	<p>User does not exist.</p>
{% endif %}
{% endblock content %}