{% extends "base.html" %}

{% block title %}{{ user.user_name }}{% endblock title %}

{% block content %}
{% if user %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.user_name }}</td>
            </tr>
		</tbody>
    <thead>
       <tr>
           <th>Roles</th>
       </tr>
    </thead>
    <tbody>
    {% if user_roles is not none %}
        {% for role in user_roles %}
            <tr>
                <td>{{ role.role_name }}</td>
                <td><p><a href="{{ url_for('wiki.role_unassign', user_id=user.user_id, role_name=role.role_name) }}" class="btn btn-mini btn-danger">Remove</a></p></td>
            </tr>
        {% endfor %}
    {% else %}
        NONE
    {% endif %}
    </tbody>
	</table>
    {% else %}
	<p>User does not exist.</p>
{% endif %}
{% endblock content %}